* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

:root {
    --orange: #E38826;
    --cyan: #006970;
    --dark-cyan: #004241;
    --gray: #f2f2f2;
    --transparent-white: rgba(255, 255, 255, 0.75);
    --white: #fff;
}

h2 {
    font-family: 'Big Shoulders Display', sans-serif;
    text-transform: uppercase;
    color:  var(--white);
    font-size: 1.5rem;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    color: var(--transparent-w  hite);
    font-size: 0.9375rem;
    margin-bottom: 1.5rem;
}

a {
    font-family: 'Lexend Deca', sans-serif;
    background: var(--gray);
    padding: 5.5rem 1.5rem;
}

.card {
    padding: 3rem;
}

.sedans {
    background: var(---orange) ;
}

.suvs {
    background: var(--cyan);
}

.luxury {
    background: var(--dark-cyan);
}